*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

/* INDEX */

centralize{

}

body{
    background-color: #202124;
    font-family: arial;
}

header{
    text-align: right;
    height: 50px;
    padding: 15px;
    font-size: 14px;
}

nav{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.search{
    padding-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 300px;
}

.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.search-bar{
    height: 45px;
    padding: 0 30px;
    width: 550px;
    max-width: 90vw;
    border-radius: 30px;
    background-color: #3F4454;
    color: #E8EAED;
    font-size: 16px;
    border: none;
}

.button{
    height: 36px;
    width: 140px;
    background-color: #3F4454;
    color: #E8EAED;
    border: 1px solid #303134;
    border-radius: 4px;
    margin: 11px 4px;
    font-size: 14px;
}

.button:hover{
    border: 1px solid #707688;
}

.logo-wrapper{
    position: relative;
}

.images-logo-text{
    color: #4487f6;
    font-size: 16px;
    position: absolute;
    bottom: 7px;
    right: 10px;
}


/* ADVANCED SEARCH */

.advanced-search{
    padding-left: 40px;
    padding-top: 50px;
    gap: 30px;
}

.advanced-search h1{
    color: #F08A81;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.advanced-search hr{
    border: 1px solid #000000;
    margin-bottom: 40px;
}

.advanced-search span{
    color: #e8eaed;
    margin-bottom: 10px;
    display: inline-block;
}

.advanced-search-form {
    width: 80%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.advanced-search-form .form-line{
    display: flex;
    align-items: center;
    gap: 10px;
}

.advanced-search-form label{
    min-width: 150px;
    color: #bdc1c6;
}

.advanced-search-form input{
    height: 30px;
    flex: 1;
    border: 1px solid #bdc1c6;
    background-color: #202124;
    border-radius: 1px;
    padding: 1px 8px;
    color: #e8eaed;
}

.advanced-search-form .button-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.advanced-search-form button{
    background-color: #8AB4F8;
    height: 30px;
    font-weight: 600;
    padding: 0 12px;
    font-size: 11px;
}

@media (max-width: 360px){
    .advanced-search-form{
      width: 170px;
    }
  
    .advanced-search-form .form-line{
      flex-direction: column;
      align-items: flex-start;
      height: 54px;
    }
  
    .advanced-search-form .form-line label{
      min-width: 0;
    }
  
    .advanced-search-form .form-line input{
      width: 100%;
      max-width: 250px;
    }
  
    .advanced-search-form .button-wrapper{
      width: 100%;
      max-width: 250px;
      justify-content: flex-end;
    }
  }
  

